*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 18px;
    margin-left: 10px;
   
}

.result img{
    width:150px;
    height: 100px;
    border-radius: 10px;
}

.result h3{
    color: crimson;
    font-size: 20px;
    margin-bottom: 5px;
}

.result h4{
    color: rgb(13, 174, 37);
    font-size: 18px;
    margin-bottom: 5px;
    
}

.result h5{
    color: darkred;
    font-size: 17px;
    margin-bottom: 5px;
}

.result h6{
    color: rgb(7, 85, 130);
    font-size: 17px;
    margin-bottom: 5px;
}

.result{
    background-color: rgb(199, 186, 186);
    padding:8px;
    border-radius: 10px;
    max-width: 180px;
    text-align: center;
    
   
}    

#form input{
    margin: 20px 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(166, 114, 114);
    color: rgb(157, 187, 11);
    font-size: 30px;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#form button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    background-color: rgb(11, 182, 99);
    color: brown;
}




@media(max-width:767px){



    #form{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

    .result img{
        width:80px;
        height: 40px;
      
    }
    #root{
       
        grid-template-columns: repeat(3,1fr);
        gap: 8px;
        margin-left: 6px;
       
    }

    #form input{
        margin: 10px;
        padding: 18px;
        font-size: 18px;
        width: 50%;
    }

    #form button{

        padding: 18px;
        font-size: 10px;
    }

    .result h3{
        font-size: 18px;
        margin-bottom: 4px;
    }
    
    .result h4{
        font-size: 16px;
        margin-bottom: 4px;
        
    }
    
    .result h5{
        font-size: 13px;
        margin-bottom: 4px;
    }
    
    .result h6{
        font-size: 12px;
        margin-bottom: 4px;
    }
    
    .result{
        max-width: 98%;
    } 

   
}







